body {
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

table, tr, td{
  border: 2px solid black;
  padding: 20px;
}

#companyName {
  margin-left: 10px;
  color: black;
}

/* Navigation Bar Styling */
 
#navigationBar {
  color: aliceblue;
  background-color: black;
  height: 45px;
  font-size: 30px;
  font-weight: bolder;
}

.navigationBarUnorderedList {
  list-style-type: none;
  padding: 0;
  background-color: black;
 }

.navigationBarList {
  padding-top: 4px;
  padding-left: 10px;
  float: left;
}

/* Image Styling */

img {
  width: 100%;
  height: 500px;
}

/* Articles */

#companyArticle {
  float: left;
  width: 700px;
  height: 100px;
  margin-left: 15px;
}



/* Table */

.companyTable {
  border: 2px solid black;
  border-collapse: collapse;
}
