
* {
  box-sizing: border-box;
}

#wrapper {
  background-color: bisque;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

#content {
  width: 1355px;
  margin: auto;
}

footer {
  padding: 12px;
}


img {
  max-width: 100%;
  max-height: 100%;
}

#logoWrapper {
  background-color: cyan;
  height: 200px;

}

#logo {
  margin-right: auto;  
  margin-left: auto;  
}
nav ul{
  background-color: grey;
  padding: 0px;
  margin: 0px;
}
        
nav ul li{
  padding: 10px;
  border: 1px solid white;
}

nav a {
  color: chocolate;
  text-decoration: none;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

nav a:hover {
  color: black;
  text-decoration: none;
}

h3 {
  color: chocolate;
  font-weight: 600;
}

#news {
  padding: 5px;
}
    
.instrument {
  padding: 5px;
}

footer h3 {
  color: white;
}

footer {
  background-color: grey;
  color: white;
  clear: left;
  margin: 0;
}


@media all and (min-width: 500px) {
  nav ul li {
    display: block;
  }
  
  h3 {
    font-size: 15px;
  }

  #news, #instruments {
      width: 100%;
      float: left;
  }
}

@media all and (min-width: 850px) {
  nav ul li {
    display: inline-block;
    border: none;
  }
  
  h3 {
    font-size: 20px;
  }
      
  #news, #instruments {
    width: 50%;
  }
      
}

@media all and (min-width: 1100px) {

  
  nav ul li {
    display: inline-block;
    border: none;
  }
  
  h3 {
    font-size: 30px;
  }
  
  #news {
    width: 33%;
  }
      
  #instruments {
    width: 66%;
  }
  
  .instrument {
    width: 50%;
    float: left;
  }
  
  
}

@media all and (min-width: 1200px) {
  #wrapper {
    width: 1200px;
    margin: auto;
  }
}


