body {
  background-color: rgb(255, 234, 234);
}

#navigationBar {
  list-style-type: none;
  font-weight: bolder;
  font-size: large;
  padding: 0;
}

.navigationBarList {
  float: left;
  margin: 0;
  padding: 5px;
}

.navigationBarList:hover {
  color: red;
  text-decoration: none;
}